#img-glow-cats{
    -webkit-box-shadow: 0px 0px 3px 5px #039df7af;
    -moz-box-shadow: 0px 0px 3px 5px #0f5afd;
    box-shadow: 0px 0px 3px 5px rgb(0, 87, 248);;
    height: 90px;
    width: 90px;
}
#img-glow-cats2{
    -webkit-box-shadow: 0px 0px 3px 5px #039df7af;
    -moz-box-shadow: 0px 0px 3px 5px #1b1b1b;
    box-shadow: 0px 0px 3px 5px rgb(2, 30, 71);;
    height: 90px;
    width: 90px;
}

#div-glow{
    color:white; background-color:rgba(12, 105, 226, 0.281);
    border:4px rgb(0, 87, 248);
    border: 1px solid rgb(86, 180, 239);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
    
}
#div-glow2{
    color:white; 
    background-color:rgba(12, 105, 226, 0.281);
    border:4px rgb(0, 87, 248);
    border: 1px solid rgb(86, 180, 239);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);  
}

#div-prod{
    color: rgb(17, 17, 17);
    border: 5px rgb(27, 24, 24);
    background-color: #f2dedeb7;
    width: 90%;
    height: %;
}

.tab {
    overflow: hidden;
    border: 0px;
    background-color: #000000;
    color: rgb(252, 245, 245);
    width:98%;
}

    /* Style the buttons that are used to open the tab content */
.tab button {
    background-color:rgba(12, 105, 226, 0.281);;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 100%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgb(0, 0, 0);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: rgb(0, 0, 0);
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid rgba(59, 59, 59, 0.87);
    border-top: none;
} 

.error {
    width: 100%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left;
}

/* tabs fillining */
#nav {
  display: table;
  table-layout: fixed;
  text-align: center;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
#nav {
    display: table;
    table-layout: fixed;
    text-align: center;
}
#nav li {
    display: table-cell;
    width: 4.286%;
    padding-right: 1px;
    height: auto;
    vertical-align: bottom;
}
#nav a {
    display: block;
    min-height: 100%;
    padding: 4px 10px;
    background-color: #222;
    color: white;
    border-radius: 6px 6px 0 0;
}
